{
    "presets": [
        "es2017-node7",
        "react"
  ],
  "plugins": [
    "es6-promise",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}

