@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.center_shit {
    margin: 10% 40% 0 40%;
}

.give_me_space {
    margin: 0 5px;
}

.main_background {
    background-color: #b0b1ae;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.drop_down {
    margin: 0 5px;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(resources/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Carrois Gothic Regular';
    src: url(resources/fonts/CarroisGothic-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Symbola";
    src: url(resources/fonts/Symbola.ttf) format("truetype");
}

